/* #region Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@500;700&display=swap');
// #endregion

// #region Variables
$headerLink: #000000;
$text: #000814;
// #endregion

/*All encompassing*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*fixing extra width*/
html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    color: $text !important;
}

#landing-container{
    transition: all 0.5s;
    font-family: 'Quicksand', sans-serif;
    display: grid;
    flex-direction: column;


    header{
        height: 15vh;
        width: 100%;        
        display: flex;
        position: fixed;
        background-color: #fff;
        align-items: center;
        z-index: 2;
        transition: all 0.5s;
        padding: 0 15%;

        #nav-links{
            display: flex;
            gap: 3rem;
            margin: 0 0 0 2rem;

            a{
                h4{
                    margin: 0;
                }
            }
        }

        a{
            text-decoration: none;
            justify-self: center;

            h1{
                color: $text;
                font-family: 'Pacifico', sans-serif; 
                font-style: italic;
                font-weight: bold;
                letter-spacing: -0.1rem;
                transition: all 0.5s;
            }
            h1:hover{
                scale: 1.05;
            }
        }

        #socials{
            text-align: right;
            display: flex;
            margin: 0 0 0 auto;
            gap: 1rem;

            img{
                width: 2rem;
                transition: all 0.5s;

            }
            img:hover{
                scale: 1.15;
            }
        }

        #menu-container {
            display: none;
            transition: all 0.4s; 

            .bar1, .bar2, .bar3 {
                width: 35px;
                height: 5px;
                background-color: $text;
                margin: 6px 0;
                transition: 0.4s; 
            }              
            
            .dropdown-content {
                display: block;
                visibility: hidden;
                position: absolute;
                background-color: rgb(255, 255, 255);
                min-width: 160px;
                // overflow: auto;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125), 
                    0 2px 10px 0 rgba(0, 0, 0, 0.125);
                right: 1rem;
                top: 10vh;
                transition: opacity 0.3s ease-out;

                a{
                    color: $text;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
                a:hover {background-color: #ddd;}
            }
            .show {visibility: visible;}
        }
        .change{
            .bar1 {
                    transform: translate(0, 11px) rotate(-45deg);
                } 
            .bar2 {opacity: 0;}
            .bar3 {
                transform: translate(0, -11px) rotate(45deg);
            }
        } 
    }

    #landing{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0 auto;
        transition: all 0.5s;


        #portrait{
            width: clamp(350px, 25vw, 500px);
            border-radius: 1rem;
        }

        #about-text{
            margin-left: 2rem;
            width: 40vw;

            h1{
                font-weight: bold;
                font-size: 3rem;
            }

            h1, h2{
                margin-bottom: 1rem;       
            }  

            #cta{
                font-weight: bold;

                a{
                    color: $text !important;
                    text-decoration: none; 
                }
            }
        }
    }

    #about{
        display: flex;
        width: clamp(850px, 60vw, 1300px);
        align-items: center;
        justify-self: center;
        padding: 15vh 0 0 0;
        transition: all 0.4s;

        #bio{
            align-items: center;
            height: auto;

            h3{
                display: inline-block;
                font-weight: bold;
            }
            p{
                font-size: 1.3rem;
                margin-bottom: 2rem;

                a{
                    font-weight: bold;
                }
            }
            .skills{
                margin: 0;
                gap: 0.5rem 3%;
            }
        }

        img{
            height: 60vh;
            margin-left: 1rem;
            border-radius: 1rem;
        }
    }

    #projects{
        width: clamp(960px, 65vw, 1300px);
        padding: 15vh 0 0 0;
        justify-self: center;
        margin: 0 auto;

        #project-header{
            h1{
                margin-bottom: 2vh;
            }

            #filters{
                display: flex;
                justify-content: space-evenly;
                h4{
                    margin: 0;
                    display: inline-block;
                }
                h4:hover{
                    cursor: pointer;
                }
            }
        }

        #card-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5vh;
            padding-top: 3vh;

            a{
                text-decoration: none !important;
                color: $text;

                .card{
                    overflow: hidden;
                    transition: all 0.7s ease;
                    justify-items: center;
                    text-decoration: none !important;
                    display: flex;
                    flex-direction: column;


                    img{
                        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                        width: 100%;       // clamp 
                        object-fit: contain;
                        transition: all 1s ease;
                        z-index: 0;
                    }                        

                    #title{
                        width: 100%;
                        padding: 0.5rem 0;
                    
                        h1{
                            display: inline-flex;
                            margin: 0 10%;
                            font-size: 2rem;
                            font-weight: bold;
                            align-self: center;
                        }

                        h5{
                            display: flex;
                            margin: auto 0 auto 10%;
                            align-self: center;
                        }
                    } 

                    p{
                        margin: 0.5rem 10%;
                        font-size: 1.1rem;
                    }     
                    
                    #links{
                        font-size: 1.5rem;
                        display: flex;
                        flex-direction: row;   
                        margin: 0.5rem 10% 1rem;
                        font-size: 1.1rem;
                        gap: 2rem;

                        a{
                            align-self: center;
                            
                            img{ 
                                width: 3rem;
                            } 
                        }                       
                    }
                }
            } // using & for some reason makes it all goofy
            .card:hover{
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
                transform: scale(1.01);
            }
        }
    }

    #contact{
        display: flex;
        // grid-area: contact;
        height: 60vh;
        margin: 15vh auto 15vh ;
        justify-content: center;

        #link-container{
            width: clamp(200px, 30vw, 500px);         
            border-left: 1px solid black;

            h2{
                font-weight: bold;
                margin-left: 15%;
                justify-self: center;
            }

            #links{
                text-decoration: none;

                a{
                    display: block;
                    margin-left: 15%;

                    h4{
                        margin: 5% 0 5% 1rem;
                        display: inline-flex;
                    }

                    svg{
                        color: $text;
                    }
                }

            }

        }

        #form-area{
            width: clamp(300px, 40vw, 700px);      // clamp,
            display: flex;
            flex-flow: column;

            h2{
                font-weight: bold;
                justify-self: center;
            }
            
            form{
                // clamp width atleast try got dangit
                height: 100%;
                display: flex;
                flex-flow: column;
                flex: 1 1 auto;


               input{
                    margin: 2% 0 3.5% 0;                    
                    width: 100%;
                    height: 2rem;
                    padding-left: 3%;
                }

                textarea{
                    margin: 2% 0 3.5% 0;                    
                    width: 100%;
                    padding-left: 3%;
                    flex: 1 1 auto;

                }

                #submit-area{
                    display: flex;

                    #submit{
                        width: 35%;
                        padding: 0;
                        margin: 0;
                    }       
                    
                    #status{
                        align-self: center;
                        margin: 0 0 0 1rem;

                        visibility: 0;
                        // animation-name: fadeOut;
                        // animation-duration: 1s;
                    }
                }
            }
        }
    }
}

/* #region Classes */
.section-header{
    text-align: center;

    h1{
        display: inline-block;
        text-align: center;
        margin: 0 auto; 
        padding: 0 2vh; 
        font: bold 2.4em/2em; 
        font-weight: bold;   
    }
}
.link{
    text-decoration: none;
    color: $headerLink;
    display: inline;
    padding: 0;
    position: relative;
    transition: opacity 0.5s;

    &:hover{
        opacity: 1;
        text-decoration: none;
        color: $text;

        /* animation-duration: 0.5s;
        animation-name: opacity-fade-in; */
    }
    /* https://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;

        background-color: $text;

        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    &:hover::before{
        visibility: visible;
        transform: scaleX(1);
        text-decoration: none;
        // background-color: $headerLink;

    }

}
.enabled::before{
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s;
}
.sticky {
    height: 10vh !important;
    // border-bottom: 1px solid black;
    box-shadow: 0px 2px 16px rgba(231, 231, 231, 0.5);
}
.skills{
    display: flex;
    gap: 0.3rem;
    // align-self: center;
    // margin-left: 10%;
    margin: 1rem 10%;
    flex-wrap: wrap;
    // flex: 1 1 auto;

    h5{
        padding: 0 0.5rem;
        margin: 0;

        &.main{
            // background-color: rgb(0, 85, 206);
            border: solid rgb(0, 85, 206) 1px;
            border-radius: 1rem;
            // color: white;
        }
    }
}
//#endregion

/* 
    standard breakpoints
    < 600px, 601px, 768px(tablet),  
*/

/* Media Queries */
@media (max-width: 680px){ // Mobile
    #landing-container{

        header{
            height: 15vh;

            #nav-links{
                // justify-content: space-evenly;
                // font-size: 1.6rem !important;
                display: none;
            }

            #socials{
                display: none;
            }

            #menu-container{
                display: inline-block;
                text-align: right;
                // display: flex;
                // flex-direction: column;
                margin: auto 1rem auto auto;
                // align-items: center;
                
            }
        }

        #landing{
            width: 90%;
            height: 100% !important;
            flex-direction: column;

            #portrait{
                margin-bottom: 2rem;
                margin: 15vh 0 2rem 0;
                width: 40vh;
            }

            #about-text{
                width: 90%;
            }
        }

        #about{
            flex-direction: column;

            img{
                display: none;
            }
        }

        #projects{
            width: 100%;
    
            #card-container{  
                grid-template-columns: 1fr !important;
                gap: 1rem 0;

                a{
                    display: grid;

                    .card{
                        height: auto;      // clamp (container is based on ind cards)
                        width: 90%;
                        justify-self: center;
                        grid-template-rows: 50% 15% auto; 

                        #title{
                            h1{
                                font-size: 1.7rem;
                            }
                        }

                        .skills{
                            margin: 0 10%;
                        }
                    }
                }
            }
        }

        #contact{
            display: grid;
            height: auto;
            margin: 5vh 0 10vh 0;

            #link-container{
                justify-self: center;
                border: none;
                margin: 0 0 1rem 0;
                width: 80% !important;

                h2{
                    margin: 0 0 2vh 0;
                    padding-bottom: 1vh;
                    border-bottom: solid black 1px;
                }
    
                #links{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    justify-content: center;

                    a{

                        h4{
                            display: inline-flex;
                            margin: 0;
                            padding: 0.5rem;
                        }                        
                    }

                }
            }
    
            #form{
                width: 80% !important;
                justify-self: center;
    
                h2{
                    margin: 0 0 2vh 0;
                    padding-bottom: 1vh;
                    border-bottom: solid black 1px;
                }
            }
        }
    }
}

@media (max-width:960px){ // tablets
    #landing-container{

        header{
            padding: 0 2rem;
        }

        #landing{
            // flex-direction: column;
            
            #portrait{
                margin-bottom: 2rem;
            }

            #about-text{
                margin: 0 1rem;

                // h1{     
                //     font-size: 2.7rem;
                // }

                // h2{
                //     font-size: 2.5rem;
                // }

                // h3{
                //     font-size: 2.3rem;
                // }

                #links{
                    justify-content: space-evenly;

                    a{

                        h4{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }

        #about{
            width: 90%;

            #bio{
                min-width: 0;

                p{
                    font-size: inherit !important;
                    margin-bottom: 1rem;
                }                
            }

            img{
                display: none;
            }
        }

        #projects{
            width: 100%;

            .section-header{
                #filters{
                    h4{
                        font-size: 1.4rem;
                    }
                }
            }

            #card-container{
                grid-template-columns: repeat(2, 1fr);
                padding: 3vh 2rem 0;
                a{
                    .card{
                        height: auto; 
                    
                        img{
                            display: none;
                        }    
                    }
                }
            }
        }

        #contact{
            height: auto;
            margin: 5vh auto 10vh;
            width: 90%;
            flex-direction: column;
            display: flex;

            #link-container{
                justify-self: center;
                border: none;
                margin: 0 0 1rem 0;
                width: 100% !important;

                h2{
                    margin: 0 0 2vh 0;
                    padding-bottom: 1vh;
                    border-bottom: solid black 1px;
                }
    
                #links{
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    a{
                        margin: 0;

                        h4{
                            display: inline-flex;
                            margin: 0;
                            padding: 0.5rem;
                            font-size: 1.4rem;
                        }                        
                    }

                }

            }
    
            #form-area{
                width: 100%;
                justify-self: center;

    
                h2{
                    margin: 0 0 2vh 0;
                    padding-bottom: 1vh;
                    border-bottom: solid black 1px;
                }
                
                form{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

/* Animations */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}

// Box shadow 
.box-shadow:before {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    // transform:scale(.9);
    box-shadow: 0px 0px 20px 10px #000000;
}  
//#endregion