/* Fonts */
@font-face {
    font-family: Archivo-black;
    src: url(ref/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: Patua;
    src: url(ref/PatuaOne-Regular.ttf);
}

*{
    box-sizing: border-box;
}

/*(grouping so i can mash it all together with scss/sass)*/ 
body{
    margin: 0px; 
    background-color:#EFEFEF; 
    color: white;
}
    /* Header */
    header{
        margin: 25px 0px 0px 15vw; 
        color: #2A2D34; 
        display: flex;
        font-family: patua;
    }
        .logo{
            padding: 5px; 
            margin: 0px; 
            font-size: 50px; 
            width: 3.5rem;
        }
            .logoLink{
                text-decoration: none; 
                color: #2A2D34;
            }
        /* NavBar */
        .NavLinks{
            font-size: 20px; 
            margin: 10px 25px 40px 35vw;  
        }
        .NavLinks ul{
            display: flex;
            margin: 0;
            padding: 0;
        }
            .NavLinks li{
                list-style: none;
            }
            .Link{
                text-decoration: none;
                color: #2A2D34;
                margin: 10px 2vw 0px 4vw;
                padding: 10px 0px 0px 0px;
                display: block;
            }:hover{
                color: #B0413E;
            }
    /* to keep form
    .content{

    }
        .content{

        } */
            #portrait{
                height: 300px;
                width: 300px;
                border-radius: 50%;
                background-color: white;
            }


/* Media Queries */
@media only screen and (max-width: 965px) {
    .NavLinks{
        display: none;
    }
    .logo{
        float: center;
    }
    .logoLink{
        float: center;
    }
}
