

.NavBar{ 
    height: 5vh;
    margin-bottom: 1.45rem;
    padding: 5vh 0 2vh 5vh;
    margin: 0px 0px 0px 50px;
    display: inline-flex;
    text-decoration: none;
    width: 100vw;
}
.AnchorLink{
    color: white;
    text-decoration: none;
    height: 50%;
    float: left;
}
.AnchorLink:hover{
    color: rgb(201, 199, 199);
}

#Links{
margin-left: 15vw;
}
.NavLink{
    text-decoration: none;
    padding: 0px 3vw 0px 3vw;
    color: blanchedalmond;

}

#links{
    align-self: center;
    text-decoration: none;
}

body {
	background: linear-gradient(-45deg, #2326d5, #236ad5, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}