/* #region Fonts */
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: playfair;
    src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

/* Libre Baskerville */
@font-face {
    font-family: libre-reg;
    src: url(fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: libre-italic;
    src: url(fonts/LibreBaskerville-Italic.ttf);
}
@font-face {
    font-family: libre-bold;
    src: url(fonts/LibreBaskerville-Bold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700;1,900&display=swap');
// #endregion

// #region Variables
$headerLink: #000000;
$landing: #111111;

$accent: #BB0A21;
$accent2: #020887;
$accent3: #A8763E;
$dark: rgb(0, 0, 0);
// #endregion

/*All encompassing*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*fixing extra width*/
html, body {
    // overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: roboto;
    // background-color: #131529;
    // background: #FDFCFC;
    color: rgb(0, 0, 0);
}

// Updated 
#landing-container{
    display: grid;
    grid-template-areas:  "header header header"
                ". about ."
                ". projects .";
    grid-template-columns: auto;
    grid-template-rows: 15vh 70vh auto;
    justify-content: center;
    transition: all 0.4s ;


    header{
        grid-area: header;
        height: 15vh;
        position: fixed;
        width: 100%;
        transition: all 0.4s ;

        /* NavBar */
        .nav-links{            
            font-size: 2.7vh; 
            margin: 0 auto;
            height: 100%;
            width: clamp(600px, 50vw, 1000px);
        
            ul{
                display: flex;
                margin: 0;
                padding: 0;
                align-items: flex-end;
                height: 100%;
                justify-content: flex-end;
                gap: 5vw;

                li{
                    list-style: none;
                    white-space: pre;
                    margin: 1.5vh 0;
                }
            }
        }
    }

    #about{
        grid-area: about;
        display: flex;
        align-items: center;
        justify-self: center;
            
        width: clamp(600px, 50vw, 1000px);


        div{
            height: auto;

            h1{
                font-size: auto !important;
                margin-bottom: 1rem;       
            }  
        }
        
    }

    #projects{
        grid-area: projects;
        width: clamp(600px, 60vw, 1100px);
        margin: 15vh 0;

        #project-section{
            h1{
                margin-bottom: 2vh;
            }

            #filters{
                display: flex;
                justify-content: space-evenly;
                h5{
                    margin: 0;
                    display: inline-block;
                }
                h5:hover{
                    cursor: pointer;
                }
            }
        }

        #card-container{
            // flex
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 5vh;
            // margin: 3vh auto;
            padding-top: 3vh;
            // width: 60vw;
    
            // new attempt
            .card{
                height: 300px;
                width: 25vw;
                border-radius: 3%;
                overflow: hidden;
                transition: all 1s ease;
                justify-items: center;

                display: grid;
                grid-template-areas: 
                    "."
                    "title"
                    "desc";
                // grid-template-columns: 4;
                grid-template-rows: 80% 20% 0%;

                #project{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 1s ease;
                    z-index: 0;
                }

                div{
                    grid-area: title;
                    display: flex;
                    width: 100%;
                
                    h1{
                        display: inline-flex;
                        margin: 0 0 0 10%;
                        font-size: 2rem;
                        z-index: 1;
                        justify-self: start;

                        align-self: center;
                    }

                    div{
                        display: flex;

                        a{
                            align-self: center;
                            justify-content: center;
                            height: 80%;

                            #icon{
                                // height: 90%;
                                width: 100%
                                
                            }                            
                        }
                    }
                } 

                p{
                    grid-area: desc;
                    margin: 0.5rem 0;
                    z-index: 1;
                    width: 80%;
                }

            } // using & for some reason makes it all goofy
            .card:hover{
                    // background-color: #016499;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
                    transform: scale(1.02, 1.02);

                    display: grid;
                    grid-template-areas: 
                        "."
                        "title"
                        "desc";
                    grid-template-columns: 25vw;
                    grid-template-rows:60% 10% auto;

                    #project{
                        filter: blur(1.5px); 
                    }
            }
        }
    }
}

/* Classes */
.section-header{
    text-align: center;

    h1{
        text-align: center;
        margin: 0 auto; 
        padding: 0 2vh; 
        font: bold 2.4em/2em; 
        font-weight: bold;   
    }
}
.link{
    text-decoration: none;
    color: $headerLink;
    
    padding: 0;
    display: block;
    position: relative;

    transition: opacity 0.5s;

    &:hover{
        opacity: 1;
        text-decoration: none;
        color: #000000;

        /* animation-duration: 0.5s;
        animation-name: opacity-fade-in; */
    }
    /* https://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;

        background-color: $headerLink;

        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    &:hover::before{
        visibility: visible;
        transform: scaleX(1);
        text-decoration: none;
    }

}

.enabled::before{
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s;
}


.sticky {
    border-bottom: 1px solid black;
    height: 7vh !important;
    background-color: rgb(255, 255, 255);
    opacity: .9 !important;
}
/* Media Queries */
@media only screen and (max-width: 426px) { // Mobile
    .section-header{
    
        h1{
            font: bold 7vw roboto; 
        }
    }
    
    // header
    header{
        .nav-links{
            font-size: 5vw; 
            margin: 0 auto;

            li{
    
                .link{
                    margin: 0 3vw;
                }
            }
        }
    }

    #about-container{
        height: auto;

        #about{

            #portrait-container{
                position: static;
                display: inline;

                #portrait{
                    width: 70vw;
                    margin: auto;
                }
            }

            #bio-container{
                position: static;
                display: inline;

                #bio-text{
                    width: 75vw;

                    #bio-main{  
                        font: italic 1000 4.6vw/5vw lato;
                        // letter-spacing: 0.7vw;
                        font-stretch: expanded;
                    }

                    #bio-secondary{
                        font: bold 3.6vw/4vw roboto;
                        // letter-spacing: 1.5;
                        margin: 2vh 0 0 0;
                    }
                }
            }
        }

        &::after{
            display: none;
        }
    }

    #skill-chart-container{
        margin: 0 auto;
        width: 100vw;
    }

    /* Projects */
    #project-container{

        #card-container{
            width: auto;

            .card{
                width: 20vw;
                margin: 1vh 0;
            }
        }
    }

    #contact-container{
        padding: 0;

        #socials-container{

            #social-link-container{

                .social-link{
                    // display: block;
                    margin: 0 1vh 0 0;
    
                    .icon{
                        height: 5vh;
                        width: 5vh;
            
                        margin: 1vh;
            
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }   
}

@media only screen and (min-width: 426px) and (max-width: 768px) { // Tablet
    /*About section resizing*/
    #about-container{

        height: 60vh;

        &::after{
            display: none;
        }

        #about{
            padding: 0;               
        }
    }

    #skill-chart-container{
        margin: 0 auto;
        width: clamp(80vw, 100%, 60vw);

        #skill-chart{
            // width: 70vw !important;
        }
    }

    #project-container{

        #card-container{
            width: auto;

            .card{
                margin: 2vh 0;
                width: 40vw;
            }
        }
    }

    #contact-container{
        padding: 0;

        .socials-container{
            width: auto;
        }
    }


    .section-header{
        h1{
            padding: 0 2vh;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1075px){
    #project-container{

        #card-container{
            width: 100vw;
            padding: 0;

            .card{
                margin: 2vh 0;
                width: auto;
                min-width: 150px;
            }
        }
    }
}

/* Animations */
/* Expirementing with scroll prompt*/
@keyframes shine{
    0% {
        // transform: scale(0.95);
        opacity: 0.5;
    }
      
    50% {
        // transform: scale(1);
        opacity: 1;
    }
      
    100% {
        // transform: scale(0.95);
        opacity: 0.5;
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

// Box shadow 
.box-shadow:before {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    // transform:scale(.9);
    box-shadow: 0px 0px 20px 10px #000000;
}  
  
.noselect {
-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

//#endregion