/* Fonts */
@font-face {
    font-family: archivo-black;
    src: url(fonts/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: patua;
    src: url(fonts/PatuaOne-Regular.ttf);
}
@font-face {
    font-family: karla;
    src: url(fonts/Karla-VariableFont_wght.ttf);
}
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

/*temp*/
@font-face {
    font-family: courgette;
    src: url(fonts/Courgette-Regular.ttf);
}
@font-face {
    font-family: kalam;
    src: url(fonts/Kalam-Regular.ttf);
}

/* Libre Baskerville */
@font-face {
    font-family: libre-reg;
    src: url(fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: libre-italic;
    src: url(fonts/LibreBaskerville-Italic.ttf);
}
@font-face {
    font-family: libre-bold;
    src: url(fonts/LibreBaskerville-Bold.ttf);
}

/*All encompassing*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: white !important; */
}

/*fixing extra width*/
html, body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}
/*(grouping so i can mash it all together with scss/sass)*/ 
body{
    /*background-color:#fdfcfc;*/ 
    margin: 0;
    padding: 0;
    font-family: roboto;
    /* background-color: #222629; */
    background: #eee;

}

        /* Header */
        header{
            color: #F7F4F3 !important;
            display: flex;
            margin: 0 10vw 0;
            padding: 5vh 0 0 0; 
            color: #F7F4F3 !important;
            display: flex;
        }
            .logo{
                padding: 5px; 
                margin: 0; 
                font-size: 50px; 
            }
                .logo-link{
                    text-decoration: none; 
                    /* color: #2A2D34; */
                    color: #F7F4F3 !important;
                }
            /* NavBar */
            .nav-links{
                font-size: 1.2rem; 
                margin: 0 0 0 auto;
            }
            .nav-links ul{
                display: flex;
                margin: 0;
                padding: 0;
            }
                .nav-links li{
                    list-style: none;
                    white-space: pre;
                    margin: 30px 0 30px 0;
                }
                .link{
                    text-decoration: none;
                    color: #F7F4F3;
                    margin: 0 2vw 0 2vw;
                    padding: 0;
                    display: block;
                    position: relative;
                }
                    .link-edge {
                        margin: 0 0 0 2vw;
                    }
                .link:hover{
                    color: #F7F4F3;
                    text-decoration: none;
                }
                /* https://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
                .link::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: #F7F4F3;
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: all 0.3s ease-in-out 0s;
                  }
                .link:hover::before {
                    visibility: visible;
                    transform: scaleX(1);
                }

        /* Landing */
        #landing-container{
            position: relative;  
            text-align: center;
            
            margin: 0;
            padding: 0;
            height: 100vh;
            width: 100vw;
            color: #F7F4F3;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-color: #111111;
            position: relative;
        }
        #landing-container::after{
            content: "Scroll For More";
            /* background: linear-gradient(rgba(34, 38, 41) 0%, rgb(133, 145, 153) 33%, rgb(255, 255, 255) 100%); */
            display: block;
            
            /* color: #383E43;  */
            /* color: #4A5359; */
            color: rgb(247, 244, 243);

            font-size: 3vmin;
            height: 10vh;
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 1;

            /* Shine animation */
            animation: shine 5s infinite;
        }
            .content{
                margin: 0 0 0 0; 
                padding: 0; 
                display: inline-block;
                justify-content: center;
                width: 100%;
            } 
                /* Name and greeting */
            /*placeholder div*/

                #intro-main{
                    color: #F7F4F3;  
                    font-size: 2.5em;
                
                    /* might change this font */
                    font: 2.8em/2em libre-italic;
                
                    padding: 25vh 0 0 0;
                    justify-content: center;
                    display: flex; 
                }
                #intro-sub{
                    display: flex;
                    align-content: center;
                }
                    .intro-snippets{
                        /* font-family: 'Roboto', sans-serif;                    */
                        text-align: center;
                        margin: 5vh auto 0;
                        font: 25px/50px karla;
                        align-self: center; 
                        justify-content: center;
                    }
                        .intro-snippet{
                            margin: 0 1em;
                        }
            

/* About */
#about-container{
    margin: 0;
    /* padding: "10vh 15vw";*/
    /* padding: "0 15vw 0 25vw", */
    color: rgb(42, 45, 52);
    height: auto;
    width: 100%;
    /* backgroundColor: "#FFFFFF",  */
    -webkit-background-size: cover;        
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: inline-flex;
}
    #portrait-container{
        width: 50vw;
        height: 70vh;
    }
        #portrait{
            min-width: 500px;
            width: 60%;
            height: 85%;
            float: right;
            margin: 10vh 0 0 0;
        }
    #bio-container{
        width: 50vw;
    }
        #bio-text{
            height: 70vh;
            margin: 8vh 0 0 2vw; 
            padding: "0 0 5vh 0"; 
        }
    #skill-chart-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #skill-chart{
            background-color: #fff;
            width: 40vw;
            height: 40vh;
            border-style: none none solid solid;
        }
            .bar{
                height: 15%;
                background-color: #383838;
                margin: 10px 0;
            }
/* Projects */
#project-container{
    margin: 0;
    padding: 13vh 20vw;
    /* height: 90vh; */
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
    #project-header{
        text-align: center;
    }
        #project-header-text{
            text-align: center;
            margin: 0 auto; 
            padding: 0 2vh 3vh 2vh; 
            /* border-bottom: 2px solid rgb(42, 45, 52); */
            display: inline-flex;
            font-stretch: expanded;
            font: 2.4em/2em libre-italic;
        }
    #bubble-container{
        padding: 0 auto;
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
        .bubble{
            background-color: #fff;
            margin: 2vh;
            height: 20vh; 
            width: 20vh; 
            border-radius: 20px; 
            justify-content: center; 
            display: flex; 
            align-items: center;
        }
            .bubble-text{
                display: inline;
                margin: auto 0;
            }

/* Testing */
.break {
    flex-basis: 100%;
    height: 0;
  }

/* basic formatting */
.center-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* Media Queries */
@media only screen and (max-width: 965px) {
    .nav-links{
        display: none;
    }

    /*Name text resizing*/
    

    /*Name subHead resizing*/


    /*About section resizing*/
    #portrait{
        display: none;
    }
    #portrait-container{
        display: none;
    }
    #bio-container{
        width: 100vw !important;
    }
    #bio-text{
        text-align: center;     
    }


}


/* Animations */
/* Expirementing with scroll prompt*/
@keyframes shine{
    0% {
        transform: scale(0.95);
        opacity: 0.5;
    }
      
    50% {
        transform: scale(1);
        opacity: 1;
    }
      
    100% {
        transform: scale(0.95);
        opacity: 0.5;
    }
  }

@keyframes link-box-hover{
    0% {
        border-radius: 5pxpx;
        background-color: #eee;
    }
    100% {
        /* border-radius: --25px; */
        /* background-color: rgb(247, 247, 247); */
        background-color: #ffff;
    }
}



/* fancy link anim */
.btn {
    width: 150px;
    height: 50px;
    min-width: 150px;
    min-height: 50px;
    background-color: #fff;
    border: 1px solid #333;
    /* font-family: 'Cinzel', serif;
    font-size: 20px; */
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
    /* flex: 50%;
    margin: 0 15%; */
  }

.btn::before, .btn::after {
    position: absolute;
    background: #fff;
    z-index: -1;
    transition: 1s;
    content: '';
  }
  
  .btn::before {
    /* height: 50px; */
    height: 50px;
    width: 130px;
    /* background-color: red; */
  }
  
  .btn::after {
    /* width: 180px; */
    width: 100%;
    height: 30px;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  .btn:hover::before {
    width: 0px;
    background: #fff;
  }
  
  .btn:hover::after {
    height: 0px;
    background: #fff;
  }
  
  .btn:hover {
    background: #fff;
  }