/* #region Fonts */
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

/* Libre Baskerville */
@font-face {
    font-family: libre-reg;
    src: url(fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: libre-italic;
    src: url(fonts/LibreBaskerville-Italic.ttf);
}
@font-face {
    font-family: libre-bold;
    src: url(fonts/LibreBaskerville-Bold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700;1,900&display=swap');
// #endregion

// #region Variables
$white: #ffffff;
$landing: #111111;

$secondary: #f5f5f5;
$accent: #BB0A21;
$dark: rgb(0, 0, 0);

// #endregion

/*All encompassing*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*fixing extra width*/
html, body {
    // overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: roboto;
    // background-color: #131529;
    // background: #FDFCFC;
    color: rgb(0, 0, 0);
}

/* Header */
header{
    display: flex;
    // margin: 0 5vw 0;
    padding: 0 5vw 0; 

    position: -webkit-sticky; /* for safari */
    position: sticky;
    top: 0;
    z-index: 2;

    background-color: $dark;
    /* NavBar */
    .nav-links{
        font-size: 3vh; 
        margin: 0 0 0 auto;
    
        ul{
            display: flex;
            margin: 0;
            padding: 0;
        }
        li{
            list-style: none;
            white-space: pre;
            margin: 2vh 0;

            .link{
                text-decoration: none;
                color: $white;
                font-weight: 900;
                
                // opacity: 0.7; 
                margin: 0 2vw;
                padding: 0;
                display: block;
                position: relative;
            
                transition: opacity 0.5s;
            
                &:hover{
                    opacity: 1;
                    text-decoration: none;

                    /* animation-duration: 0.5s;
                    animation-name: opacity-fade-in; */
                }
                /* https://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
            
                    background-color: $white;
            
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: all 0.3s ease-in-out 0s;
                }
            
                &:hover::before{
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }
}

/* Landing */
#landing-container{
    position: relative;  
    /* text-align: center; */
    
    margin: 0;
    padding: 0;
    // height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // Once I implement the slideshow I'll probably need to get rid of this
    // background-image:     linear-gradient(
    //     rgba(0, 0, 0, 0.45),
    //     rgba(0, 0, 0, 0.45)
    //     ), url('../images/slideshow/CBS18481.JPG');

    // &::after{
    //     content: "Scroll For More";
    //     /* background: linear-gradient(rgba(34, 38, 41) 0%, rgb(133, 145, 153) 33%, rgb(255, 255, 255) 100%); */
    //     display: block;
        
    //     /* color: #383E43;  */
    //     /* color: #4A5359; */
    //     color: rgb(247, 244, 243);
    //     text-align: center;
    
    //     font-size: 3vmin;
    //     height: 10vh;
    //     width: 100%;
    //     position: absolute;
    //     bottom: 0;
    //     z-index: 1;
    
    //     /* Shine animation */
    //     animation: shine 5s infinite;
    // }

    .content{
        margin: 0 0 0 0; 
        padding: 0; 
        display: inline-block;
        justify-content: center;
        width: 100%;
    
        /* Name and greeting */
        #intro-main{
            // color: #F7F4F3;  
            color: rgb(0, 0, 0);

            font-size: 2.5em;
        
            /* might change this font */
            font: 2.8em/2em libre-italic;
        
            padding: 10vh 0;
            margin: 0 auto;
    
            justify-content: center;
            display: flex; 
    
            h1{
                animation: fadeIn linear 3s;
            }
        }  

        .test{
            height: 100%;
            width: 50%;
            background: rgb(255, 0, 0);

            position: absolute;
            left: 0px;
            top: 0px;
            z-index: -1;
        }
    } 
}      

/* About */
#about-container{
    margin: 0;
    height: 90vh;
    width: 100%;

    -webkit-background-size: cover;        
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: inline-flex;
    
    &::after{
        content: "Scroll For More";
        display: block;
        
        color: rgb(0, 0, 0);
        opacity: 0.7;
        text-align: center;
    
        font-size: 3vmin;
        height: 5vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
    
        /* Shine animation */
        animation: shine 5s infinite;
    }

    #about{
        display: inline-block;
        margin: 10vh auto;
        // background-color: #f5f5f5;

        position: relative;

        #portrait-container{
            display: inline-block;
            animation: fadeIn linear 3s;
            // height: 100%;

            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            #portrait{
                width: 40vw;
                margin: 0;
                // height: 100%;

                border: 10px;
                border-radius: 20px;
                // background-color: rgb(255, 255, 255);
                // box-shadow: -5px 5px 10px;

            }
        }

        #bio-container{
            display: inline-block;
            padding: 1vw; 
            // background-color: $secondary;
            // width: clamp(30vw, 40vw, 500px);
            width: 40vw;

            animation: fadeIn linear 1.5s;
            opacity: .8;

            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            #bio-text{
                margin: 0; 

                p{
                vertical-align: middle;
                }

                #bio-main{
                    font: italic 1000 2.5vw / 3.5vw lato;

                    u{
                        color: $accent;
                    }
                }

                #bio-secondary{
                    margin: 3vh 0 0 0;
                    font: bold 1.6vw/2.6vw roboto;
                }
            }
        }        
    }
}
#skill-chart-container{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1vh;
    margin: 0 auto;
    // width: 50vw;
    width: 65vw;
    background-color: #f5f5f5;

    canvas{
        display: inline-block;
        // margin: 0 auto;
        // width: 50vw;
        // height: 40vh;
        // border-style: none none solid solid;
    }
}

/* Projects */
#project-container{
    margin: 0;
    padding: 3vh auto;
    /* height: 90vh; */
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

    text-align: center;

    #card-container{
        // flex
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        margin: 0 auto;
        width: clamp(40vw, 100%, 70vw);
        // height: 100px;

        // border-width: 10px;
        // border-color: #111111;
        // border: solid;

        .card{
            // background: #6e6e6e;
            margin: 2vh;

            display: inline-block;
            // height: 35vh;
            width: clamp(300px, 40%, 30vw);

            // &:hover{
            //     // background-color: #016499;
            //     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            //     transform: scale(1.1, 1.1);
            // }

            // trying to do hover animation
            position: relative;

            // background-color: rgb(255, 255, 255);
            background-color: $accent;

            .card-thumbnail{
                display: block;
                transform: translate(0, 0);
                transition: all .15s ease;
                position: relative;
                z-index: 1;
                height: 100%;
                width: 100%;

                &:hover{
                    transform: translate(6px, -6px);
                }
            }

            &:before{
                content: '';
                display: block;
                background-color: $accent;
                width: 8px;
                height: 8px;
                position: absolute;
                transition: all .15s ease;

                top: 0;
                left: 0;
                transform-origin: top left;
                transform: rotate(-45deg) scale(0);
            }

            &:after{
                content: '';
                display: block;
                background-color: $accent;
                width: 8px;
                height: 8px;
                position: absolute;
                transition: all .15s ease;

                right: 0;
                bottom: 0;
                transform-origin: bottom right;
                transform: rotate(45deg) scale(0);
            }

            &:hover:before{
                transform: rotate(-45deg) scale(1);   
            }

            &:hover:after{
                transform: rotate(45deg) scale(1);
            }
        }
    }
}

#contact-container{
    padding: 3vh 0 5vh 0;
    // display: inline-flex;
    align-items: center;
    margin: 0 auto;
    
    .socials-container{    
        margin: 2vh auto;
        text-align: center;
        
        .social-link-container{
            display: inline-block;
            // background-color: #0077B5;
            color:#ffffff;
            margin: 0 1vh;
        
            // font: 
            font-weight: 700;
            text-transform: uppercase;
            
            border-radius: 5px;
            overflow: hidden;
            text-align: center;

            // shadow
            // filter: drop-shadow(5px 5px 10px black);     
            // box-shadow: 5px 10px;

            transition: 0.2s ease-in-out;

            .social-link{
                // display: block;
                margin: 0 1vh 0 0;

                .icon{
                    height: 5vh;
                    width: 5vh;
        
                    margin: 1vh;
        
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            // ensuring that outer links dont mess up spacing with margins
            &--left{
                @extend .social-link-container;
                margin: 0 2vw 0 0;
            }
            &--right{
                @extend .social-link-container;
                margin: 0 0 0 2vw;
            }
        
            &:hover{
                // background-color: #016499;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                transform: scale(1.1, 1.1);
            }
        
        }
        // link specific classes to determine link color
        .linkedIn{
            background-color: #0077B5 !important;
            &:hover{
                background-color: #016499 !important;
            }
        }

        .github{
            background-color: #4f4f4f !important;
            &:hover{
                background-color: #3d3d3d !important;
            }
        }
        
        .email{
            cursor: pointer;        // to mimic an anchor and avoid setting href
            background-color: #EA4335 !important;
            &:hover{
                background-color: #BB001B !important;
            }
        }
    }
}

/* Classes */
.section-header{
    text-align: center;

    h1{
        text-align: center;
        margin: 0 auto; 
        padding: 0 2vh 3vh 2vh; 
        /* border-bottom: 2px solid rgb(42, 45, 52); */
        display: inline-flex;
        font-stretch: expanded;
        font: bold 2.4em/2em lato; 
        font-weight: bold;   
    }

    // not in use anymore
    h2{ 
        @extend .section-header;
        font-size: 2.3em/2em;
        opacity: .8;
    }
}

/* For scroll fade animation*/
.tag {
    opacity: 0;
    // transform: translate(0, 10vh);
    transition: all 2.5s;
}
  
.tag.visible {
    opacity: 1;
    // transform: translate(0, 0);
} 

/* Media Queries */
@media only screen and (max-width: 429px) { // Mobile
    // header
    header{
        .nav-links{
            font-size: 5vw; 
            margin: 0 auto;
        
            ul{

            }
            li{
    
                .link{
                    margin: 0 3vw;
                }
            }
        }
    }

    #about-container{
        
        #about{

            #portrait-container{
                position: static;
                display: inline;

                #portrait{
                    width: 70vw;
                    margin: auto;
                }
            }

            #bio-container{
                position: static;
                display: inline;

                #bio-text{
                    width: 60vw;

                    #bio-main{  
                        font: italic 1000 4.5vw / 5vw lato;
                    }

                    #bio-secondary{
                        font: bold 3vw/3.5vw roboto;
                        margin: 2vh 0 0 0 ;
                    }
                }
            }
        }
    }

    #skill-chart-container{
        margin: 0 auto;
        width: 100vw;
    }
    
}

@media only screen and (min-width: 430px) and (max-width: 768px) { // Tablet
    // header


    /*About section resizing*/
    #about-container{

        height: 60vh;

        &::after{
            display: none;
        }

        #about{
            padding: 0;               
        }
    }

    #skill-chart-container{
        margin: 0 auto;
        width: clamp(80vw, 100%, 60vw);

        #skill-chart{
            // width: 70vw !important;
        }
    }

    #project-container{

        #card-container{
            width: auto;

            .card{
                margin: 2vh 0;
            }
        }
    }

    #contact-container{
        padding: 0;

        .socials-container{
            width: auto;
        }
    }


    .section-header{
        h1{
            padding: 0 2vh;
        }
    }
}

/* Animations */
/* Expirementing with scroll prompt*/
@keyframes shine{
    0% {
        transform: scale(0.95);
        opacity: 0.5;
    }
      
    50% {
        transform: scale(1);
        opacity: 1;
    }
      
    100% {
        transform: scale(0.95);
        opacity: 0.5;
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

// Box shadow 
.box-shadow:before {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    // transform:scale(.9);
    box-shadow: 0px 0px 20px 10px #000000;
}  
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  .btn:hover::before {
    width: 0px;
    background: #fff;
  }
  
  .btn:hover::after {
    height: 0px;
    background: #fff;
  }
  
  .btn:hover {
    background: #fff;
  }

//#endregion