/* Fonts */
@font-face {
    font-family: archivo-black;
    src: url(fonts/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: patua;
    src: url(fonts/PatuaOne-Regular.ttf);
}
@font-face {
    font-family: karla;
    src: url(fonts/Karla-VariableFont_wght.ttf);
}
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

/*temp*/
@font-face {
    font-family: courgette;
    src: url(fonts/Courgette-Regular.ttf);
}
@font-face {
    font-family: kalam;
    src: url(fonts/Kalam-Regular.ttf);
}

/* Libre Baskerville */
@font-face {
    font-family: libre-reg;
    src: url(fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: libre-italic;
    src: url(fonts/LibreBaskerville-Italic.ttf);
}
@font-face {
    font-family: libre-bold;
    src: url(fonts/LibreBaskerville-Bold.ttf);
}

/*All encompassing*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: white !important; */
}

/*fixing extra width*/
html, body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}
/*(grouping so i can mash it all together with scss/sass)*/ 
body{
    /*background-color:#fdfcfc;*/ 
    margin: 0;
    padding: 0;
    font-family: roboto;
    /* background-color: #222629; */
    background: #eee;

}
    /*.landing{

    }*/
        /* Header */
        header{
            color: #F7F4F3 !important;
            display: flex;
        }
            .logo{
                padding: 5px; 
                margin: 0; 
                font-size: 50px; 
            }
                .logo-link{
                    text-decoration: none; 
                    /* color: #2A2D34; */
                    color: #F7F4F3 !important;
                }
            /* NavBar */
            .nav-links{
                font-size: 1.3rem; 
                margin: 0 0 0 auto;
            }
            .nav-links ul{
                display: flex;
                margin: 0;
                padding: 0;
            }
                .nav-links li{
                    list-style: none;
                    white-space: pre;
                    margin: 30px 0 30px 0;
                }
                /* Once I figure out the margins (so it isnt offset from the others) I'll implement it*/
                /*.prompt{
                    border: 3px solid #B0413E;
                    border-radius: 8px;
                    margin-bottom: 10px;
                }*/
                .link{
                    text-decoration: none;
                    color: #F7F4F3;
                    margin: 0 2vw 0 2vw;
                    padding: 0;
                    display: block;
                    position: relative;
                }
                .link:hover{
                    color: #F7F4F3;
                    text-decoration: none;
                }
                /* https://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
                .link::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: #F7F4F3;
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: all 0.3s ease-in-out 0s;
                  }
                .link:hover::before {
                    visibility: visible;
                    transform: scaleX(1);
                }
        #landing-container{
            position: relative;  
            text-align: center;
        }
        #landing-container::after{
            content: "Scroll For More";
            /* background: linear-gradient(rgba(34, 38, 41) 0%, rgb(133, 145, 153) 33%, rgb(255, 255, 255) 100%); */
            display: block;
            
            /* color: #383E43;  */
            /* color: #4A5359; */
            color: rgb(247, 244, 243);

            font-size: 3vmin;
            height: 10vh;
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 1;

            /* Shine animation */
            animation: shine 5s infinite;
        }
            .content{
                margin: 0 0 0 0; 
                padding: 0; 
                display: inline-block;
                justify-content: center;
                width: 100%;
            } 
                /* Name and greeting */
            /*placeholder div*/
                .intro{
                    font-family: 'Roboto', sans-serif;                   
                    text-align: center;
                    margin: 5vh auto 0;
                }

/* Testing */
.break {
    flex-basis: 100%;
    height: 0;
  }

/* basic formatting */
.center-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* Media Queries */
@media only screen and (max-width: 965px) {
    .nav-links{
        display: none;
    }

    /*Name text resizing*/
    

    /*Name subHead resizing*/


    /*About section resizing*/
    #portrait{
        display: none;
    }
    #portrait-container{
        display: none;
    }
    #bio-container{
        width: 100vw !important;
    }
    #bio-text{
        text-align: center;     
    }


}


/* Animations */
/* Expirementing with scroll prompt*/
@keyframes shine{
    0% {
        transform: scale(0.95);
        opacity: 0.5;
    }
      
    50% {
        transform: scale(1);
        opacity: 1;
    }
      
    100% {
        transform: scale(0.95);
        opacity: 0.5;
    }
  }

@keyframes link-box-hover{
    0% {
        border-radius: 5pxpx;
        background-color: #eee;
    }
    100% {
        /* border-radius: --25px; */
        /* background-color: rgb(247, 247, 247); */
        background-color: #ffff;
    }
}



/* fancy link anim */
.btn {
    width: 150px;
    height: 50px;
    min-width: 150px;
    min-height: 50px;
    border: 1px solid #333;
    /* font-family: 'Cinzel', serif;
    font-size: 20px; */
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
  }

.btn::before, .btn::after {
    position: absolute;
    background: #eee;
    z-index: -1;
    transition: 1s;
    content: '';
  }
  
  .btn::before {
    height: 50px;
    width: 130px;
  }
  
  .btn::after {
    width: 170px;
    height: 30px;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  .btn:hover::before {
    width: 0px;
    background: #fff;
  }
  
  .btn:hover::after {
    height: 0px;
    background: #fff;
  }
  
  .btn:hover {
    background: #fff;
  }